<#assign lastUpdated = .now>
/***************************************************************
* file: ${nameAndExt}
* author: ${user}
* class: CS 445 – Computer Graphics
*
* assignment: ${package} 
* date last modified: ${lastUpdated?string.short}
*
* purpose: 
*
****************************************************************/ 
package ${package};

public interface ${name} {
    
}